.row.about-panel
	.col-xs-12.col-sm-12.col-md-4.col-lg-4.margin-bottom
		a(href='/#{__(locale)}/about#scheduler').promo-tile 
			.circle
				.fa.fa-calendar
			.title #{__('PromoTileScheduleTitle')}
			.text #{__('PromoTileScheduleText')}
	.col-xs-12.col-sm-12.col-md-4.col-lg-4.margin-bottom
		a(href='/#{__(locale)}/about#timer').promo-tile
			.circle
				.fa.fa-clock-o
			.title #{__('PromoTileTimerTitle')}
			.text #{__('PromoTileTimerText')}
	.col-xs-12.col-sm-12.col-md-4.col-lg-4.margin-bottom
		a(href='/#{__(locale)}/about#motivation').promo-tile
			.circle
				.fa.fa-thumbs-up
			.title #{__('PromoTileMotivationTitle')}
			.text #{__('PromoTileMotivationText')}
