extends layout

block scripts
	script(type='text/javascript', src='/javascripts/md5.js', defer)

block content
	include includes/promoLine

	.container-paddings
		.row.main-content-indent.margin-bottom
			.col-xs-12.col-sm-12.col-md-6.col-lg-5
				.welcome.margin-bottom
					.title.margin-bottom #{__('Welcome')}
					if (everyauth.loggedIn)
						.text.margin-bottom
							a(href='/workouts') #{__('BeginToPlaySports')}
					else
						.text #{__('BeginToPlaySports')}
						.margin-bottom #{__('SignInThirdPartyMsg')}
						.social-icon-container
							.inline-block.clearfix
								a.pull-left(href='/auth/facebook' title='#{__("Facebook")}')
									.social-icon.s30.fb
								a.pull-left(href='/auth/vkontakte' title='#{__("Vkontakte")}')
									.social-icon.s30.vk

				.under-welcome.margin-bottom #{__('UnderWelcomeMessage')}
				.under-welcome.italic.margin-bottom #{__('UnderWelcomeMessage2')}

			.col-xs-12.col-sm-12.col-md-6.col-lg-7
				#carousel.carousel.slide(data-ride='carousel')
					ol.carousel-indicators
						li(data-target='#carousel', data-slide-to='0').active
						li(data-target='#carousel', data-slide-to='1')
						li(data-target='#carousel', data-slide-to='2')
					.carousel-inner
						.item.active
							img(src='/images/carousel-slide1.jpg', alt='')
						.item
							img(src='/images/carousel-slide2.jpg', alt='')
						.item
							img(src='/images/carousel-slide3.jpg', alt='')
					a.left.carousel-control(href='#carousel' data-slide='prev')
						span.fa.fa-chevron-left
					a.right.carousel-control(href='#carousel' data-slide='next')
						span.fa.fa-chevron-right

		.border
			include includes/aboutPanel
