doctype 5
html(lang="#{__(locale)}")
	head
		title SprotNode
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/stylesheets/style.min.css')
		link(rel='shortcut icon', href='images/favicon.ico')
		block styles
		script(type='text/javascript', src='/javascripts/jquery-2.0.3.min.js')
		script(type='text/javascript', src='/javascripts/knockout-3.0.0.js')
		script(type='text/javascript', src='/javascripts/knockout.mapping-2.4.1.min.js')
		script(type='text/javascript', src='/javascripts/bootstrap.min.js')
		script(type='text/javascript', src='/javascripts/login.js')
		script(type='text/javascript', src='/javascripts/md5.js')
		script(type='text/javascript', src='/javascripts/stats.js', async)
		block scripts
	body
		.body.container
			.navbar.navbar-default.navbar-static-top(role='navigation')
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/')
						span Sport
						span.point •
						span Node
				.navbar-collapse.collapse
					if (everyauth.loggedIn)
						ul.nav.navbar-nav.navbar-right
							li(class=page === 'Home' ? 'active' : '')
								a(href='/') #{__('Home')}
							li(class=page === 'Workouts' ? 'active' : '')
								a(href='/workouts') #{__('Workouts')}
							li(class=page === 'Exercises' ? 'active': '')
								a(href='/exercises') #{__('Settings')}
							li.dropdown
								a.navbar-account.dropdown-toggle(href='#', data-toggle='dropdown')
									img(src='#{everyauth.user.pictureUrl}')
									| #{everyauth.user.name} &nbsp;
									b.caret
								ul.dropdown-menu
									li
										a#logoutButton(href='/logout') #{__('Logout')}
			block content

		.footer.container
			.container-paddings.clearfix
				.pull-left
					| #{__('DevelopedBy')}
				.pull-right
					a(href='https://github.com/andrei-golyakov/sportnode') #{__('ProjectOnGitHub')}
